---
title: Events / Event handlers - Webface.js
---

- @page_id = "events/event-handlers"
.title
  %h1 Events / Event handlers

.content
  %p
    Events in NestUI are what they sound like, but actually a little more - when a user clicks a form's submit button,
    a <code class="string">click</code> event is created, which is caught by the button's event
    handler we create like this:

  %pre.line-numbers(data-line="11")
    %code.language-javascript
      :erb
        export class MyButtonComponent extends extend_as("MyButtonComponent").mix(Component).with() {
          constructor() {

            // This line is needed because "click" is a native browser-generated event.
            // For now ingore this, it will be explained in the next sections.
            this.native_events = ["click"];

            this.event_handlers.add({
              event:   "click",
              role:    "#self",
              handler: (self,event) => self.dom_element.style.display = "none"
            });
          }

  %p
    In this example, when a button is clicked, we make it disappear. To add a handler,
    we use a special object <code class="inline language-javascript">this.event_handlers</code>.
    This object has all the handlers for a particular Component object and has special methods
    to manage them. We've just used one of those methods called <code class="inline language-javascript">.add</code>.

  %p
    Note how on line 3 we've used a special role <code class="string">#string</code>,
    which basically referes to the dom element associated with this component. To learn more about
    roles, please refer to the #{link_to "relevant section", "/hierarchy/roles.html"} of this reference.

  %p
    You can also add multiple event handlers for events/roles by passing an array of objects to
    <code class="inline language-javascript">add()</code>:

  %pre.line-numbers
    %code.language-javascript
      :erb
        this.event_handlers.add([
          { event: "click", role: "#self", handler: (self,event) => ... },
          { event: "click", role: "submit", handler: (self,event) => ... }
        ]);

  %p
    For now, let's just get to know some other methods that <code class="inline language-javascript">this.event_handler</code>
    provides. Sometimes you might need to add add handlers for click events on different component parts. You can do
    this using the <code class="inline language-javascript">self.[part]</code> notation, but you can also save
    yourself from typing <code class="string">"click"</code> multiple times by using the
    <code class="inline language-javascript">this.event_handlers.addForEvent()</code> method:

  %pre.line-numbers
    %code.language-javascript
      :erb
        export class YesNoButtonComponent extends extend_as("YesNoButtonComponent").mix(Component).with() {
          constructor() {

            this.native_events = ["yes.click", "no.click"];

            this.event_handlers.addForEvent("click", {
              "self.yes": (self,event) => console.log("You answered Yes"),
              "self.no":  (self,event) => console.log("You answered No")
            });

          }
        }

  %p
    The first argument this method takes is the even name, as you can tell.
    The second agument is an object where keys are roles or references to component parts
    and values are handler functions. To provide you with some context,
    let's see what HTML may look like for this particular button:

  %script(type="text/plain" class="language-markup line-numbers")
    :plain
      <div data-component-class="YesNoButtonComponent">
        <button data-component-part="yes">Yes</button>
        <button data-component-part="no">No</button>
      </div>

  %p
    So this is kind of a composite button with two parts.
    Each part - the yes and the no part - is assigned a separate handler. Depending on which part
    is clicked, we display a message in the console.

  %p
    Another method provided by the <code class="inline language-javascript">events_handler</code> object
    is called <code class="inline language-javascript">addForRole()</code>. The syntax is similar:
    the first argument it takes is the role and the second argument is an object where
    keys are even names. So, same same, but different:

  %pre.line-numbers
    %code.language-javascript
      :erb
        export class MyButtonComponent extends extend_as("MyButtonComponent").mix(Component).with() {
          constructor() {

            this.native_events = ["mouseup", "mousedown"];

            this.event_handlers.addForRole("#self", {
              "mousedown": (self,event) => console.log("Mousedown event"),
              "mouseup":  (self,event) => console.log("Mouseup event")
            });

          }
        }

  %p
    In this example, we're targeting two different events: <code class="inline language-javascript">mousedown</code>
    and <code class="inline language-javascript">mouseup</code>, but the event target is the same - the dom
    element associated with <code class="inline language-javascript">MyButtonComponent</code>.

  %p
    Sometimes you'd need to dynamically remove certain events to prevent handlers from firing.
    In that case use these methods:
    
    %ul
      %li
        <code class="inline language-javascript">event_handlers.remove({event: [event_name], role: [role_name] })</code>
      %li
        <code class="inline language-javascript">event_handlers.removeForEvent([event_name], [array of role names])</code>
      %li
        <code class="inline language-javascript">event_handlers.removeForRole([event_role],  [array of event names])</code>

    There's also a useful method for when you need to check whether a particular handler for event/role pair exists:
    %ul
      %li <code class="inline language-javascript">event_handlers.hasHandlerFor({ role: [role_name], event: [event_name]})</code>

  = partial "shared/nav", locals: { prev: "Hierarchy/Roles", nxt: "Events/Native vs Custom events" }
