---
title: Standard components / Checkbox - Webface.js
---

- @page_id = "standard-components/checkbox"
.title
  %h1 Standard components / Checkbox

.content

  %p.note
    #{link_to "Try a working example", "/examples/components/checkbox"} of <code class="inline language-javascript">CheckboxComponent</code>
    and then #{link_to "see the code for the example", "https://gitlab.com/hodlhodl-public/webface.js/tree/master/test/examples/components/checkbox"}.

  %p
    This component doesn't have a lot of functionality, except that it has two behavior methods that allow it to be checked/unchecked programmatically.
    For example, suppose your website has an "Edit user account" form where you may want to automatically uncheck the checkbox "Available 24 hours"
    if user selects a time window in another field called "hours I'm available". This can be done with a code that looks something like this:

  %pre.line-numbers
    %code.language-javascript
      :erb
        export class UserAccountFormComponent extends extend_as("UserAccountFormComponent").mix(Component).with() {
          constructor() {
            super();

            this.event_handlers.add({ event: "change", role: "hours_available", handler: (self, hours_available) => {
              if(hours_available.get("value") == null)
                self.findChildrenByRole("checkbox_24hours")[0].set("checked", true);
              else
                self.findChildrenByRole("checkbox_24hours")[0].set("checked", false);
            }});

          }
        }

  %p
    Now, changing the value of the <code class="inline language-javascript">hours_available</code> field to anything but
    <code class="inline language-javascript">null</code> will automatically uncheck the checkbox, and removing any value from
    <code class="inline language-javascript">hours_available</code> field will automatically uncheck the checkbox - provided you
    have the following HTML:

  %script(type="text/plain" class="language-markup line-numbers")
    :plain
      <form action="/user/username" method="POST" data-component-class="UserAccountFormComponent">
        <label><input data-component-class="CheckboxComponent" type="checkbox" name="available_24hours"
          data-component-roles="checkbox_24hours">Available 24 hours</label>
        <input data-component-class="FormFieldComponent"
          data-component-roles="hours_available" name="hours_available"/>
        <input data-component-class="ButtonComponent" type="Submit" value="Save"/>
        <br/>
      </div>


  %p.note
    Do not call <code class="inline language-javascript">behave("check")</code> and <code class="inline language-javascript">behave("uncheck")</code>
    behaviors when you want to change the value of the checkbox, but rather use <code class="inline language-javascript">set("checked", true/false)</code>.
    Behaviors are only responsible for the presentation, so they will change html-attributes, but not component's attributes. Setter, on the other
    hand, will do both, because it calls the behaviors in the callback.

  = partial "shared/nav", locals: { prev: "Standard components/NumericFormField", nxt: "Standard components/RadioButton" }
