---
title: Standard components / ConfirmableButton - Webface.js
---

- @page_id = "standard-components/confirmable-button"
.title
  %h1 Standard components / ConfirmableButton

.content

  %p.note
    #{link_to "Try a working example", "/examples/components/confirmable_button"} of <code class="inline language-javascript">ConfirmableButtonComponent</code>
    and then #{link_to "see the code for the example", "https://gitlab.com/hodlhodl-public/webface.js/tree/master/test/examples/components/confirmable_button"}.

  %p
    This component is kind of a small extension on <code class="inline language-javascript">ButtonComponent</code> in that it acts almost exactly
    the same except that it publishes the <code class="inline string">click_and_confirm</code> event if the user confirmed his action
    in a modal window dialog after actually clicking the "Yes" button, and <code class="inline string">click_and_deny</code> event
    if user clicked the "No" button or otherwise closed the modal dialog window.

  %p
    To make use of it, you only need to make a few changes to your original button html element, specifying
    <code class="inline language-html">data-component-class="ConfirmableButtonComponent"</code> and what the message
    in the modal window should say.

  %script(type="text/plain" class="language-markup line-numbers" data-line="2,3")
    :plain
      <button
        data-component-class="ConfirmableButtonComponent" 
        data-confirmation="Are you sure?"
        data-lockable="false">
        Save
      </button>

  %p
    Clicking this button will create and show an instance of the <code class="inline language-javascript">DialogWindowComponent</code>
    (you should have a #{link_to "template", "/templates/overview.html"} for it somewhere in your html page). This is demonstrated in the
    short video below:

  %video(autoplay loop controls)
    %source(src="/videos/ConfirmableButton.mp4" type="video/mp4")

  %p
    The buttons in the modal window are always going to say "yes" and "no", but
    the component attempts to fetch the #{link_to "I18n translation", "/i18n.html"} by calling
    <code class="inline language-javascript">t("_yes")</code> and <code class="inline language-javascript">t("_no")</code>,
    so if you have those keys in your I18n set of keys, then they will be used (underscore before the key is necessary, because
    YAML interprets <code class="inline string">yes</code> and <code class="inline string">no</code>
    strings as keywords).

  %p.note
    This isn't actually flexible enough, so expect to soon be able to set dialog window confirmation
    buttons text by specifying certain html-attributes in the <code class="inline language-javascript">ConfirmableButtonComponent</code>
    html element.

  = partial "shared/nav", locals: { prev: "Standard components/Button", nxt: "Standard components/FormField" }
