---
title: Standard components / NumericFormField - Webface.js
---

- @page_id = "standard-components/numeric-form-field"
.title
  %h1 Standard components / NumericFormField

.content

  %p.note
    #{link_to "Try a working example", "/examples/components/numeric_form_field"} of <code class="inline language-javascript">NumericFormFieldComponent</code>
    and then #{link_to "see the code for the example", "https://gitlab.com/hodlhodl-public/webface.js/tree/master/test/examples/components/numeric_form_field"}.

  %p
    The purpose of this component is prevent user - in real time - from entering anything but numbers (integers or float)
    into the text field. This component DOES NOT provide any validations by default. You may still
    use standard component validations provided by Webface, to, say, show validation error messages
    below the field if the value entered is more or less than a certain number. However, you could do
    pretty much the same with a regular text field represented by <code class="inline language-javascript">FormFieldComponent</code>.
    They key advantage of this component is that it literally prevents users from entering anything
    but numbers or decimal point.

  %p
    This is what it looks like:

  %video(autoplay loop controls)
    %source(src="/videos/NumericFormField.mp4" type="video/mp4")

  %p
    So what happens in the example above, as soon as user attempts to type
    something wrong, the component immediately rewrites the value reverts to
    the previous value.

  %h2 Settings

  %p
    There are several attributes that affect how this component behaves. Those attributes, can, of course,
    be set either through html or programmatically in Javascript with the usual <code class="inline language-javascript">Component.set()</code>
    method.

    %ul
      %li
        <code class="inline language-javascript">max_integer_length</code> - affects the length of the integer part (the part <i>before</i> the decimal point).
        If the initial value of the component was <code class="inline language-javascript">12.012345</code>.
        Then when <code class="inline language-javascript">max_integer_length</code> is set to <code class="inline language-javascript">2</code>, an attempt
        to enter <code class="inline language-javascript">123.012345</code> will result in the value being
        reverted to <code class="inline language-javascript">12.012345</code>.
      %li
        <code class="inline language-javascript">max_decimal_length</code> - affects the length of the part <i>after</i> the decimal point.
        If the initial value of the component was <code class="inline language-javascript">123.01</code>.
        Then when <code class="inline language-javascript">max_decimal_length</code> is set to <code class="inline language-javascript">2</code>, an attempt
        to enter <code class="inline language-javascript">123.012345</code> will result in the value being
        reverted to <code class="inline language-javascript">123.01</code>.
      %li
        <code class="inline language-javascript">max_length</code> - affects the total length of the value, including the decimal point itself.
        If the initial value of the component was <code class="inline language-javascript">123.1</code>.
        Then when <code class="inline language-javascript">max_length</code> is set to <code class="inline language-javascript">5</code>, an attempt
        to enter <code class="inline language-javascript">123.01</code>  or <code class="inline language-javascript">1234.1</code> will result in the value being
        reverted to <code class="inline language-javascript">123.1</code>.

  = partial "shared/nav", locals: { prev: "Standard components/FormField", nxt: "Standard components/Checkbox" }
