---
title: Attributes / Default values - Webface.js
---

- @page_id = "attributes/default-values"
.title
  %h1 Attributes / Default values

.content

  %h2 Default values
  %p
    Sometimes it's important to be able to set default values for attributes
    right inside the Component's class. To do that, you can employ the
    <code class="inline language-javascript">Component.default_attribute_values</code> property
    inside the constructor and as assign it an object where keys are attribute names and values
    are the default values for those attributes:

  %pre.line-numbers(data-line="4")
    %code.language-javascript
      :erb
        export class MyButtonComponent extends extend_as("MyButtonComponent").mix(Component).with() {
          constructor() {
            this.attribute_names          = ["caption", "button_type"];
            this.default_attribute_values = { caption: "OK", "button_type": "nice button" };
          }
        }

  %p
    The assignment of default values takes place in
    <code class="inline language-javascript">Component.afterInitialize()</code> and, obviously, default values
    are only assigned if the current attribute value is <code class="inline language-javascript">undefined</code>
    If however, a value was read from DOM (some Components make use of <code class="inline language-javascript">updateAttrsFromNodes()</code>), then the default value won't be assigned.
    ATTENTION: if current value of an attribute is <code class="inline language-javascript">null</code>,
    default value WILL NOT be assigned, as <code class="inline language-javascript">null</code> means
    the html-attribute was intentionally set to it.

  %p
    Be mindful of when you call <code class="inline language-html">updateAttrsFromNodes()</code>.
    Normally, assignment of default values doesn't instantly overwrite the corresponding
    places in DOM (a callback on the attribute change isn't invoked), so even if default
    value is assigned to the Component's instance,
    invoking <code class="inline language-html">updateAttrsFromNodes()</code> would still
    overwrite this default value with the value from the DOM (if present, of course).


  = partial "shared/nav", locals: { prev: ["Attributes/", "Updating from DOM", "./updating-from-dom"], nxt: ["Attributes/", "Callbacks", "./callbacks"]}
