---
title: Attributes / DOM Binding - Webface.js
---

- @page_id = "attributes/dom-binding"
.title
  %h1 Attributes / DOM Binding

.content

  %p
    Suppose we need to add an attribute to our button, which regulates whether the button is enabled or disabled.
    We obviously need this attribute to change the <code class="inline language-html">disabled</code> attribute on the
    <code class="inline language-javascript">&lt;button&gt;</code> element.
    First, let's add this attribute into the <code class="inline language-javascript">Component.attribute_names</code> array:

  %pre.line-numbers(data-line="3")
    %code.language-javascript
      :erb
        export class MyButtonComponent extends extend_as("MyButtonComponent").mix(Component).with() {
          constructor() {
            this.attribute_names = ["caption", "disabled"];
          }
        }

  %p
    Then, let's change our html code and add a special html attribute to our button, which will connect
    the <i>disabled</i> attribute of the Component:

  %script(type="text/plain" class="language-markup line-numbers" data-line="4")
    :plain
      <body>
        <button
          data-component-class="ButtonComponent"
          data-component-attr-map="disabled:disabled"
        >
          <span data-component-attr="caption">Click me</code>
        </button>
      </body>

  %p Now, if we change the attribute:

  %pre.line-numbers
    %code.language-javascript
      :erb
        button1.set("disabled", "disabled");

  Webface.js will update the html in the document to look like this:

  %script(type="text/plain" class="language-markup line-numbers" data-line="5")
    :plain
      <body>
        <button
          data-component-class="ButtonComponent"
          data-component-attr-map="disabled:disabled"
          disabled="disabled"
        >
          <span data-component-attr="caption">Click me</code>
        </button>
      </body>

  %p
    Notice how the <code class="inline language-html">disabled="disabled"</code> attribute was added to
    the <code class="inline language-html">&lt;button&gt;</code> element. Of course, the
    <code class="inline language-html">data-component-attr-map</code> can be added not just to the dom element
    of the component, but also to any of the descendant nodes of that element - then the component
    will update them upon attribute change.

  %p
    The syntax of the <code class="inline language-html">data-component-attr-map</code>
    is the following: <code class="inline language-html">attr_1:html-attr-1,attr_2:html-attr-2</code>.
    That is, you can have multiple pairs of component-attribute names and html-attribute names, separated
    by commas. Html-attribute names may be different from component-attribute names.
    For instance, consider the following code:

  %script(type="text/plain" class="language-markup line-numbers" data-line="4")
    :plain
      <body>
        <button data-component-class="ButtonComponent"
          data-component-attr-map="inactive:disabled,button_type:data-button-type"
          disabled="disabled" data-button-type="submit"
        >
          <span data-component-attr="caption">Click me</span>
        </button>
      </body>

  %p
    In this example the component-attribute <code class="inline language-html">inactive</code> binds to
    the html-attribute <code class="inline language-javascript">disabled</code>. And we also have one more
    attribute called <code class="inline language-javascript">button_type</code> (needed for whatever reason!)
    that binds to the attribute <code class="inline language-html">data-button-type</code>.


  %p
    There is also a more concise, simplified way to write attribute map - you can just list
    attributes, separated by commas like this:

  %script(type="text/plain" class="language-markup line-numbers" data-line="2")
    :plain
      <button data-component-class="ButtonComponent"
        data-component-attr-map="disabled,button_type">...

  %p
    In this case, <code class="inline language-javascript">disabled</code> and <code class="inline language-javascript">button_type</code>
    attributes of our <code class="inline language-javascript">ButtonComponent</code> will automatically bind to
    <code class="inline language-html">data-disabled</code> and <code class="inline language-html">data-button-type</code> html-attributes
    of the <code class="inline language-html">&lt;button&gt;</code> tag. In other words, the previous code is equivalent to writing:

  %script(type="text/plain" class="language-markup line-numbers" data-line="2")
    :plain
      <button data-component-class="ButtonComponent"
        data-component-attr-map="disabled:data-disabled,button_type:data-button-type">...


  %p
    However, the good news is, you don't even have to write <code class="inline language-html">data-component-attr-map</code>
    at all. By default, Webface.js Component instances will look for the corresponding html <code class="inline language-html">data-</code>
    attributes when they are trying to update attribute value in the dom. So you could've easily had the following html:

  %script(type="text/plain" class="language-markup line-numbers")
    :plain
      <button data-component-class="ButtonComponent">...</button>

  %p
    and updating attribute with <code class="inline language-javascript">button1.set("button_type", "special button")</code>
    would've updated this html to:

  %script(type="text/plain" class="language-markup line-numbers" data-line="2")
    :plain
      <button data-component-class="ButtonComponent"
              data-button-type="special button"
      >
      ...
      </button>


  = partial "shared/nav", locals: { prev: ["Attributes/", "Basics", "./basics"], nxt: ["Attributes/", "Updating from DOM", "./updating-from-dom"]}
