%ul
  = menu_item "Introduction", "/", type: "parent", page_id: "introduction"
  = menu_item "Component", "/", type: "parent", page_id: "component" do
    = menu_item "BaseComponent", "/", type: "parent", page_id: "base_component" do
      = menu_item "Tweaks", "/", page_id: "component_tweaks"
      = menu_item "ButtonComponent", "/", page_id: "button_component"
      = menu_item "Hello", "/", type: "parent", page_id: "button_component" do
        = menu_item "Introduction", "/", page_id: "introduction"
  = menu_item "Events", "/", type: "parent", page_id: "events"
  = menu_item "Attributes & Properties", "/", type: "parent", page_id: "attributes_properties"
  = menu_item "Behaviors", "/", type: "parent", page_id: "behaviors"
