%ul
  = menu_item "Overview", "/"
  = menu_item "Installation & usage"
  = menu_item "Introduction to components"
  = menu_item "Component initialization"
  = menu_item "RootComponent"
  = menu_item "Attributes" do
    = menu_item "Basics"
    = menu_item "DOM binding"
    = menu_item "Updating from DOM"
    = menu_item "Default values"
    = menu_item "Callbacks"
    = menu_item "Casting"
  = menu_item "Hierarchy" do
    = menu_item "Children & Parents"
    = menu_item "Roles"
  = menu_item "Events" do
    = menu_item "Event handlers"
    = menu_item "Native vs custom events"
    = menu_item "Event locks"
  = menu_item "States" do
    = menu_item "Overview"
    = menu_item "State definitions"
    = menu_item "Nested states"
    = menu_item "StateActionManager"
    = menu_item "DisplayStateManager"
    = menu_item "Aliases"
    = menu_item "Common options"
    = menu_item "Transition ordering"
  = menu_item "Behaviors"
  = menu_item "I18n"
  = menu_item "Templates" do
    = menu_item "Overview"
    = menu_item "Named templates"
  = menu_item "Standard components" do
    = menu_item "Button"
    = menu_item "ConfirmableButton"
    = menu_item "FormField"
    = menu_item "NumericFormField"
    = menu_item "Checkbox"
  = menu_item "Validations" do
    = menu_item "Overview"
    = menu_item "Standard validations"
    = menu_item "Custom validations"
  = menu_item "Utils" do
    = menu_item "Logger"
    = menu_item "AjaxRequest"
    = menu_item "Animator"
    = menu_item "Position Manager"

  = menu_item "Ruby On Rails integration" do
    = menu_item "Overview"
    = menu_item "Installation"
    = menu_item "Defining component views"
    = menu_item "Reusing component views"
    = menu_item "Helper options"
    = menu_item "Standard components views"
    = menu_item "Building forms"
    = menu_item "Templates"
