- prev ||= []
- nxt  ||= []

- prev = expand_nav_from_string(prev) if prev.kind_of?(String)
- nxt  = expand_nav_from_string(nxt) if nxt.kind_of?(String)

.navigation
  - unless prev.empty?
    - prev[2] = prev[2]
    .prev
      %a{href: prev[2]}= image_tag "nav_arrow_left.svg"
      .text
        .hint previous page
        .section= prev[0]
        = link_to prev[1], prev[2]
  - unless nxt.empty?
    - nxt[2]  = nxt[2]
    .next
      .text
      .text
        .hint next page
        .section= nxt[0]
        = link_to nxt[1], nxt[2]
      %a{href: nxt[2]}= image_tag "nav_arrow_right.svg"
