---
title: Webface.js
---

- @page_id = "overview"
.title
  %h1 Welcome to Webface.js reference
  .subtitle Webface.js a web-frontend framework based on components and hierarchical tree structure.

.content

  %p
    Most frameworks focus on how to make more things happen with less code and magic. They invent foreign concepts and lots of things don't make sense.
    Webface, on the other hand, follows these simple principles:

    %ul
      %li Keep an easy to understand structure / mental model that's assumed intuitively, without remembering it.
      %li Use familiar concepts.
      %li Complete separation of code and HTML: no front-end rendering, no templating languages etc.
      %li Should be usable for one page webapps as well as regular websites.

    %h3 Key concepts:
    %ul
      %li Define components which in turn may have other components as children
      %li Children publish events to their parents, parents decide what to do with them.
      %li Parents manipulate children's presentation and behavior.
      %li Component property values are tied to html element's attributes or innerText
      %li Child components may have roles, so that parents know how to react to certain events based on roles their children have.
      %li Each component has a set of behaviors which define how it interacts with users by changing its corresponding DOM element properties (for example: animations, display etc).


    %h3 Show me the code!


    %pre.line-numbers(data-line="12-14")
      %code.language-javascript
        :erb
          // Assuming, Webface library is placed in a directory webface.js on the same level as current file
          import { extend_as } from "./webface.js/lib/utils/mixin.js";
          import { Component } from "./webface.js/lib/component.js";

          // This syntax may seem a little weird, but you don't have to remember it.
          // Just copy it from other components. It is important that new components are
          // declared this way for everything to work, but you don't need to understand why
          // (hint: it's basically for inheritance + reflection to work properly).
          export class MyButtonComponent extends extend_as("MyButtonComponent").mix(Component).with() {

            constructor() {
              event_handlers.add({ event: 'click', role: "#self", handler: (self,event) {
                console.log("Someone clicked the button");
              });
            }

          }
          // This line is mandatory at the end of each component file. Basically allows for reflection to work
          // and create new component instances on the fly when Webface sees component-like html in your page's DOM.
          window.webface.component_classes["MyButtonComponent"] = MyButtonComponent;

    %p So what this code does it basically defines a new component called <code class="inline language-javascript">MyButtonComponent</code>. If you have the following HTML on your page:

    %script(type="text/plain" class="language-markup line-numbers")
      :plain
        <body>
          <button data-component-class="MyButtonComponent" data-component-attr="caption">
            Click me
          </button>
        </body>

    %p
      Then Webface will automatically create an instance of <code class="inline language-javascript">MyButtonComponent</code> and the button will
      print the<br/><code class="string">"Someone clicked the button"</code> message into the console browser.

  = partial "shared/nav", locals: { nxt: "Installation & Usage" }
