---
title: Installation and usage - Webface.js
---

- @page_id = "installation-and-usage"
.title
  %h1 Installation and usage

.content

  = partial "shared/nav", locals: { prev: [nil, "Overview", "/index"], nxt: [nil, " Introduction to components", "/introduction-to-components"]}
