---
title: RootComponent - Webface.js
---

- @page_id = "root-component"
.title
  %h1 RootComponent

.content

  %p
    This component is created automatically upon Webface.js app initialization and is assigned <code class="inline language-html">&lt;body&gt;</code>
    as its associated dom element.

  %p
    Currently the only important functionality it has is to catch
    <code class="inline language-javascript">click</code> events and
    notify ALL of the child components of this event.

  %p
    The use case for this would, for example, be a situation when a user first clicks a select box,
    which opens with a list of options. Naturally, clicking on any other place on the page should close this selectbox. But for it
    to know it has to close it needs to be notified of such event happening outside of its dom_element. For that,
    a <code class="inline language-javascript">externalClickCallback()</code> is used - if this method is defined on a component
    it gets invoked every time someone clicks anywhere on the page, <b>except when the click's target is the said component</b>.

  %p Let's look at an example of how we can use this. Firstly, let's write our html:

  %script(type="text/plain" class="language-markup line-numbers")
    :plain
      <body> <!-- body is automatically assigned as dom_element for RootComponent -->
        <div data-component-class="MyComponent">
          <button data-component-class="ButtonComponent" data-component-roles="disable_button">Button</button>
        </div>
      </body>

  %p
    We laid out the structure in which we have our own <code class="inline language-javascript">MyComponent</code>,
    which we'll define below, and its child, a <code class="inline language-javascript">ButtonComponent</code>
    from Webface.js standard components. We don't see it mention anywhere in the javascript code, but that's because
    Webface.js looks at the corresponding html and determines that
    <code class="inline language-javascript">ButtonComponent</code> needs to be loaded.


  %pre.line-numbers
    %code.language-javascript
      :erb
        export class MyComponent extends extend_as("MyComponent").mix(Component).with() {
          constructor() {
            super();

            this.event_handlers.add({ event: "click", role: "disable_button", handler: (self, child) => {
              child.externalClickCallback = function() {
                child.behave("unlock");
              }
            }});

          }
        }
        window.webface.component_classes["MyComponent"] = MyComponent;

  %p And that's what it'll look like in the browser:

  %video(autoplay loop controls)
    %source(src="/videos/root_component_1.mp4" type="video/mp4")

  %p
    Now let's go over this code. Since some of the concepts introduced here you're not familiar with yet it'd
    be a good idea to explain.
  %p
    On line 5 we create an event hander with <code class="inline language-javascript">this.event_handlers.add</code> -
    <code class="inline language-javascript">Component.event_handlers</code> is an object that
    tracks events and allows you to add or remove them (read up on <a href="/events.html">Events</a> to understand how it works).

  %p
    Now, apart from the event handler we added for the button, <code class="inline language-javascript">ButtonComponent</code>
    itself has a built in click handler which locks the button (<code class="inline language-javascript">ButtonComponent.behave("lock")</code> is called)
    whenever it's clicked. This is to prevent user from clicking that button again and accidentally submitting the form twice (this can be changed, of course).
    So that's why in the video below you see button becomes gray and a spinner appears as soon as it's clicked. We didn't have to program that and we could've
    gotten away without lines 5-9 for that.

  %p
    However, what we actually want to do is to unlock the button as soon as user clicks in any other place except for the button itself.
    To do that, we employ a special callback method that you can define on any Webface.js component - <code class="inline language-javascript">externalClickCallback()</code>.
    This method will be called by the <code class="inline language-javascript">RootComponent</code> automatically when a <code class="inline language-javascript">click</code>
    event is detected on any dom element except for our button.

  %p
    As you can see in this example, we defined this method on an <i>object</i>, not the class <code class="inline language-javascript">ButtonComponent</code>.
    This means it only applies to this particular button and not all buttons. However, if you design your own component, you may add
    <code class="inline language-javascript">externalClickCallback()</code> to it and then all instances of your component will get to run the code
    inside it when a click is detected outside of the dom element of that component.

  = partial "shared/nav", locals: { prev: [nil, "Component initialization", "component-initialization"], nxt: [nil, "Attributes", "attributes"]}
