---
title: States / Nested states - Webface.js
---

- @page_id = "states/nested-states"
.title
  %h1 States / Nested states

.content

  %p
    Nested states is kind of a syntax sugar to hide some repetition and make state declarations more readable.
    This is how you create a nested state declaration:

    %pre.line-numbers
      %code.language-javascript
        :erb
          this.states = [
            // ...
            [{ country: "not_null()" }, "countryEntered", [
              [{ country_of_origin: () => this.get("country") }, "bornAndRaisedGreeting"]
            ]];
          ];

    and then Webface's <code class="inline language-javascript">StateManager</code> code will automatically
    expand this into this flat structure:

    %pre.line-numbers
      %code.language-javascript
        :erb
          this.states = [
            // ...
            [{ country: "not_null()" }, "countryEntered"],
            [{ country: "not_null()", country_of_origin: () => this.get("country") }, "bornAndRaisedGreeting"]
          ];

  %p.note
    This expanded version of the nested declaration is not something you'd see in your code. The expansion
    is done under the hood by a <code class="inline language-javascript">StateManager</code> instance and
    the code above in the second code listing is only for illustration purposes, so you can better understand
    the logic behind nested declarations.

  %p
    To formalize the syntax of nested declarations: if you have a third element to a state declaration array and this element is itself
    an array of state declarations, then <code class="inline language-javascript">StateManager</code> will
    expand those declarations for you into a flat structure shown in the second code listing. You can have as many
    nested levels as you wish.

  .note.important
    <b class="important">IMPORTANT!</b>
    By default a state that has the longest matching definition is considered
    the matched one, while states that have the same argument/value pairs as the longest definition
    while lacking some additional ones (and are, thus, shorter) are disregarded. For instance, that given that user has
    entered their country and entered the same country as <i>country of origin</i> in one go,
    <code class="inline language-javascript">UserComponent.countryEntered()</code> will NOT be invoked.
    If you want them both invoked, you need to set the
    <code class="inline language-javascript">pick_states_with_longest_definition_only</code> option
    for the state manager to <code class="inline language-javascript">false</code>:

    %pre.line-numbers
      %code.language-javascript
        :erb
          this.states = [
            "action", { pick_states_with_longest_definition_only: false } // default is true
            //...
          ];

    Read more about this on the <a href="common-options.html">common options</a> page.

  %p
    If you don't have any transitions to list for a state that nests other states, you just leave the transition
    element of the array (second one) blank:

  %pre.line-numbers
    %code.language-javascript
      :erb
        this.states = [
          // ...
          [{ country: "not_null()" }, "", [
            [{ country_of_origin: () => this.get("country") }, "bornAndRaisedGreeting"]
          ]];
        ];



  = partial "shared/nav", locals: { prev: "States/State definitions", nxt: "States/StateActionManager" }
