---
title: Ruby On Rails integration / Installation - Webface.js
---

- @page_id = "ruby-on-rails-integration/installation"
.title
  %h1 Ruby On Rails integration / Installation

.content

  %p [ To be written soon ]

  = partial "shared/nav", locals: { prev: "Ruby On Rails integration/Overview", nxt: "Ruby On Rails integration/Defining component views" }
