---
title: Ruby On Rails integration / Templates - Webface.js
---

- @page_id = "ruby-on-rails-integration/templates"
.title
  %h1 Ruby On Rails integration / Templates

.content
  %p
    When you want to use templates for your components (templates in Webface's terminology, see
    the #{link_to "relevant section of this reference", "/templates/overview.html"}), you can
    just reuse your regular component views from <code class="inline language-shell">app/views/webface_components</code>,
    but call them not with <code class="inline">#component</code> helper, but with
    <code class="inline">#component_template</code> helper. Here we're using
    our standard component view for some of the Webface's standard components,
    including <code class="inline language-javascript">SimpleNotificationComponent</code>:

  %pre.line-numbers
    %code.language-haml
      :erb
        .componentTemplates
          = component_template :button
          = component_template :dialog_window
          = component_template :simple_notification
          = component_template :modal_window


  %p
    When generating html, <code class="inline language-ruby">webface_rails</code> replaces
    <code class="inline language-html">data-component-class</code> attribute
    in the component view with <code class="inline language-html">data-component-template</code>
    assigning it the same value.

  %p
    All of the usual options can be passed to the <code class="inline">#component_template</code>
    helper. One thing you might want to do is to hide the <code class="inline">.componentTemplate</code> tag,
    so those templates are not actually visible until they're instantiated as components. So consider adding
    this to your stylesheets:

  %pre
    %code.language-css
      :erb
        .componentTemplates { display: none; }

  %p There isn't much else to be said about templates, they're pretty straightforward.


  = partial "shared/nav", locals: { prev: "Ruby On Rails integration/Building forms", nxt: "Something" }
